#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
**/.vs/
*.[Oo]bj
*.user
*.suo
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.cache
ipch/
**/obj/*
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

# Office Temp Files
~$*

#NuGet
packages/
EnterpriseAddLogs/EnterpriseAddLogs/EnterpriseAddLogs.Android/EnterpriseAddLogs.Android.csproj.user
