#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
bin/
obj/
obj/*
**/.vs/
*.[Oo]bj
*.user
*.suo
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.cache
*.ide
*.ide-shm
*.ide-wal
*.cache
*.props
ipch/
**/obj/*
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

# Office Temp Files
~$*

#NuGet
packages/
EnterpriseAddLogs/EnterpriseAddLogs/EnterpriseAddLogs.Android/EnterpriseAddLogs.Android.csproj.user
*.cache
*.props
*.cache
*.pdb
*.pdb
*.dll
EnterpriseAddLogs/EnterpriseAddLogs/EnterpriseAddLogs.Android/Resources/Resource.designer.cs
EnterpriseAddLogs/EnterpriseAddLogs.Backend/Properties/PublishProfiles/EnterprisePOCAzureBackend - Web Deploy.pubxml
EnterpriseAddLogs/EnterpriseAddLogs/EnterpriseAddLogs.Android/EnterpriseAddLogs.Android.csproj.user
