<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nnb.EnterpriseAddLogs" android:installLocation="internalOnly" android:versionCode="2" android:versionName="2.0">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<application android:label="Enterprise Add Logs">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="nnb54" android:host="easyauth.callback" />
			</intent-filter>
		</activity>
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCE8vRxEvD-R6T_c73S9YksKetgHaH13dw" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>